
.mainstyle {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.wrapper {
    display: flex;
    align-items: stretch;
    font-family: 'Open Sans', sans-serif;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #2F3648;
    color: #8590A6;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

#sidebar.active {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    margin-left: -250px;
}

body {
    background: #272B34;
    background: linear-gradient(to bottom right, #272B34 , #272E34); /* Standard syntax (must be last) */
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    text-align: left;
    color:#26ABDA;
    padding: 25px;
}

.modal-content{
    background-color: #91110d;
}
.modal-title{
    color: ghostwhite;
}
.modal-body{
    color: ghostwhite;
}

#mycst{
    background-color: floralwhite;
    border-color: floralwhite;
    color: #000;
}

#mycst2{
    background-color: floralwhite;
    border-color: floralwhite;
    color: #000;
}
#sidebar ul.components {
    padding: 30px 0;
}

#sidebar ul li a {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    text-align: left;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #272B34;
    background:#26ABDA;
}
.btn{
  background: #2F3648;
  margin-left: -10px;
  color: #8590A6;
  border: none;
}
.btn:focus{
  background: #2F3648;
  margin-left: -10px;
  color: #8590A6;
  border: none;
}
.btn:hover{
  background: #2F3648;
  margin-left: -10px;
  color: #26ABDA;
  border: none;
}

#sidebar ul li.active  {
    font-family: 'Roboto', sans-serif;
    color:#26ABDA;
}

.btn_2{

  background: transparent;
  color: #26ABDA;
  height: 35px;
  width: 35px;
  display: none;
  border: none;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 25px;
  padding: 2px;
  /* position: fixed; */
}

@media (max-width: 768px) {
  html, body { overflow-x: hidden; }

    #sidebar {
      opacity: 1;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      margin-left: -250px;
    }
    #sidebar.active {
      /* max-height: 100; */
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      opacity: 1;
      margin-left: 0;
    }
    .btn_2{
      display: block;
    }
    .hide_this{
      display: none;
    }
    .my_btn{
      margin-top: 10px;
    }
    .wid-fix{
      margin-left: -33px;
    }
    .captch{
      float: none;
      padding-top: 40px;
      margin-left: -10px;
    }
    p,h1{
        overflow-wrap: break-word;
        padding: 10px;
    }

    .row{
        padding: 0px !important;
    }
    #content .ui{
      margin-top: 30px !important;
      padding: 10px !important;
    }
    .dp_btn{
      margin-left: 20px !important;
    }
    #mob_form{
      display: block !important;
    }
    #desktop_form{
      display: none;
    }
}
/*
#sidebarCollapse{
  margin-left: -20px;
  background: #7386D5;
  border: none;
}
*/
.main_data{
  display: none;
  transition: all 5s;
}
#content h1,h2,h3,p{
  color: #8590A6;
  font-family: 'Open Sans', sans-serif;
}

#content .ui{
  padding: 30px;
}

.t-right{
  display: inline-block;
  color: #8590A6;
  font-size: 1.1em;
  text-align: center;
}
#rollno{
  color: #8590A6;
  font-size: 1.1em;
  text-align: center;
}

#rollno input{
    height: 30px;
    background: transparent;
    border-radius: 25px;
    border: 1px solid #8590A6;
    width: 300px;
    outline: none;
    padding: 5px;
    padding-left: 10px;
}

.visual{
  border-color: #364053;
  box-shadow: 0 0 5px #364053;
  padding: 5px;
  margin: 5px;
}
.my_btn{
  height: 30px;
  width: 100px;
  background: #26ABDA;
  border-radius: 25px;
  border: 0px solid;
  color: #272B34;
  margin-top: 10px;
}
button:disabled,
button[disabled]{
  height: 30px;
  width: 100px;
  opacity: 0.5;
  background: #26ABDA;
  border-radius: 25px;
  border: 0px solid;
  color: #272B34;
  margin-top: 10px;
}
.row{
  padding: 20px;
}
#bl{
  font-size: 1.5em;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}
.box1{
  padding: 4px;
  width: 80%;
  max-width: 80%;
  height: 180px;
  border-color: #364053;
  box-shadow: 0 0 5px #364053;
  margin: 10px;
  text-align: center;
}
#u_detail1{
  text-align: left;
  padding: 5px;
  font-size: 1em;
  color: #8590A6;
}
.u_detail{
  text-align: left;
  color: #26ABDA;
}
.large{
  font-size: 60px;
  color: #26ABDA;
}
hr{
   border: 0.5px solid #8590A6;
}
.container ul{
  color: #26ABDA;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
}
th{
    background-color: #26ABDA;
    text-align: left;
    padding: 8px;
    color: #2F3648;
    font-size: 20px;
}
td{
  text-align: left;
  padding: 18px;
  background-color: #dddddd;
}
tr{
  background-color: #dddddd;
}
tr:hover{
  background-color: #26ABDA;
}
.drop_btn{
  border: none;
  background-color: #26ABDA;
  color: #2F3648;
  margin: 15px;
}
.drop_btn:hover{
  margin: 15px;
}
.drop_btn:focus{
  margin: 15px;
}
#overall_table{
  opacity: 0;
  transition: all 2s;
}
#branch_table{
  opacity: 0;
  transition: all 2s;
}
p{
  font-family: 'Open Sans', sans-serif;
}
#hidethisyo{
  text-align: center;
  position: fixed;
  margin-top: 10px;
  margin-left: 100px;
}

.captch{
  display: block;
  padding-bottom: -20px;
  padding-left: 10px;
  position: static;
}
.dp_btn{
  border: none;
  background-color: #26ABDA;
  color: #2F3648;
  display: inline;
  margin-top: 10px;
}
#asd{
  font-size: 1.5em;
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
  display: inline;
  float: left;
}
.testing{
  display: inline;
}
.modal_btn:hover{
  margin-left: 2px !important;
}
.modal_btn:focus{
  margin-left: 2px !important;
}
.modal_btn{
  margin-left: 2px;
}
#mob_form{
  display: none;
}
/* .slider{
  max-width: 200px;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  background: #26ABDA;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  background: #26ABDA;
  cursor: pointer;
} */

#calculate1, #calculate2{
    border: none;
    background-color: #91110d;
    color: #f5fff8;
    margin-left: 0px;
    display: None;
}


input[type=range] {
    -webkit-appearance: none;
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #26ABDA;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #26ABDA;
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #26ABDA;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
